server:
    port: 8080

logging:
#    level:
#        org.springframework.cloud.gateway: TRACE
#        org.springframework.http.server.reactive: DEBUG
#        org.springframework.web.reactive: DEBUG
#        reactor.netty: DEBUG

management:
    endpoints:
        web:
            exposure:
                include: "*"

spring:
    application:
        name: quintilis-gateway

    data:
        redis:
            host: "${REDIS_HOST:localhost}"
            port: "${REDIS_PORT:6379}"
            database: "${REDIS_DATABASE:0}"

    security:
        oauth2:
            resourceserver:
                jwt:
                    jwk-set-uri: "${RESOURCE_SERVER_JWK:http://localhost:9000/oauth2/jwks}"
                    issuer-uri: "${RESOURCE_ISSUER:http://localhost:9000}"

quintilis:
    auth:
        frontend: "${AUTH_FRONTEND:http://localhost:9000}"