server:
  port: 8080

spring:
  application:
    name: quintilis-gateway

  data:
    redis:
      host: 192.168.18.72
      port: 6379

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://quintilis_auth:9000/oauth2/jwks
          issuer-uri: http://quintilis_auth:9000

  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*" # Em produção, troque pelo domínio do front (ex: http://localhost:3000)
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
      routes:
        - id: auth-route
          uri: http://quintilis_auth:9000
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 20
                redis-rate-limiter.burstCapacity: 40
                key-resolver: "#{@userKeyResolver}"

        - id: forum-route
          uri: http://quintilis_forum:8080
          predicates:
            - Path=/api/forum/**
          filters:
            - StripPrefix=1
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 10
                redis-rate-limiter.burstCapacity: 20
                key-resolver: "#{@userKeyResolver}"
